@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url(../public/grainybg.png);
  background-color: black;
  background-size: cover;
  color: rgb(207, 207, 207);

}
